--- 
--- 

// Variables
$font-family: 'Lato', sans-serif;
$base-font-size: 12;
$grey-color: #f7f7f7;
$base-font-family: $font-family;
$base-font-size : 16px;
$base-font-weight: 300;
$small-font-size : $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit : 30px;
$text-color : #333333;
$background-color: #fdfdfd;
$brand-color : #FF9800;
$brand-color-dark : #FF5722;
$grey-color : #9E9E9E;
$grey-color-light: #F5F5F5;
$grey-color-dark : #424242;


// Width of the content area  - this is bad
$content-width : 800px;
$tablet : 700px;



//HEADER STUFF

.header {
  background-color: $brand-color;
  background-image: linear-gradient(to bottom right, $brand-color, $brand-color-dark);
}

.header_content {
  width: $content-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 15px;
  color: #fff;
  font: {
    family: $font-family;
  }
  h1{
    font-size: 80px;
    margin-bottom: 10px;
  }
}



.header_bio_wrapper{
  display: table;
}


.header_potrait{
  display: table-cell;
  img{
    border-radius: 50%;
  }
   a{
    text-decoration: none;
    color: #ffffff;
  }
    

}

.header_bio{
  display: table-cell;
  font-size: 28px;
  padding-left: 20px;
  margin: 10px 0 0px;
  font-weight: 200;
  vertical-align: middle;
}


.header_bio_secondrow{
  display: table-cell;
  margin: 10px 0 10px;
  font-size: 18px;
  vertical-align: middle;
  padding-bottom: 10px;

}

hr.small {
  margin: 15px auto;
  border-color: white;
}

hr.post {
  margin: 5px auto;
  border-color: white;
}



.header_badges
{
  float: left;
  //width: 50%;
  
 img{
    border-radius: 50%;
  }

  a{
    text-decoration: none;
    color: #ffffff;
  }
}


.header_title
{
  color: #ffffff;
  a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    &:hover {
      color: $brand-color;
    }
  }

}




//SEARCH!
.searchcontainer{
 // float: right;
  width: 75%;
  }

.searchcontainer input#search{
  width: 65%;
  height: 42px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: $text-color;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.searchcontainer .icon{
  height: 42px;
  width: 42px;
  margin-left: 15px;
  margin-top: 1px;
  color: $brand-color;
}







.nav {
  padding-top: 50px;
  padding-bottom: 10px;
  
  text-align: center;
  
   a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; 
    padding: 24px 30px;
    font-size: 25px;
    &:hover {
      color: #FFFFFF;
    }
  }

}


//POSTS



.main_content {
  max-width: $content-width;
  margin: 0 auto;
  //background: yellow;
  //padding: 0 75px 75px 75px;

  //Prevent Images from overrun
  img{
    max-width: 100%;
  }

  //Prevent Images from overrun
  .code{
    max-width: 100%;
  }


}







.post_header{
    //Contains the Post Title and Post Meta

}

.post-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;

  a {
    text-decoration: none;
  }


  color: $text-color ;
  a {
    color: $text-color;
    transition: color 0.3s;
    &:hover {
      color: $brand-color;
    }
  }
}


.post-single {
  margin: 20px 0;
  padding: 20px 50px 20px 50px;
  
  border-left: 1px solid #e7e5e5;
  border-top: 1px solid #e7e5e5;
  border-right: 1px solid #e7e5e5;
  border-bottom: 1px solid #e7e5e5;
  
  background: #ffffff;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  box-shadow: 5px 5px 25px #9E9E9E; 
}



//post meta is date and stuff
.post-meta {
  text-align: left;
  width: auto;
  margin: 0;
  padding: .25em 0;

}


.section-heading {
  margin-top: 0;
  font-size: 40px;
  padding-right: 15px;
  padding-left: 15px;
}


body {
  background-color: #F2F2F1;
  overflow-x: hidden;
  font-family: $font-family, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


//PAGINATION!


.pagination {
  text-align: center;
  margin-top: 0;
  margin: 20px 0 20px;
  padding: 5px 5px 5px 50px;
  
  border-left: 1px solid #e7e5e5;
  border-top: 1px solid #e7e5e5;
  border-right: 1px solid #e7e5e5;
  border-bottom: 1px solid #e7e5e5;

  padding-bottom: 20px;
  background: #ffffff;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  box-shadow: 5px 5px 25px #9E9E9E; 
  
  vertical-align: middle;

}



.pagination-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  a {
    text-decoration: none;
  }


  color: $text-color ;
  a {
    color: $text-color;
    transition: color 0.3s;
    &:hover {
      color: $brand-color;
    }
  }
}


.pagination-controls {
  font-size: 18px;

  text-align: center;

  color: $text-color ;
  a {
    color: $text-color;
    transition: color 0.3s;
    &:hover {
      color: $brand-color;
    }
  }
}




// FOOT STUFF




.footer {
  background-color: $brand-color;
  background-image: -webkit-gradient(linear, left top, right bottom, from($brand-color), to($brand-color-dark));
  background-image: -webkit-linear-gradient(top left, $brand-color, $brand-color-dark);
  background-image: linear-gradient(to bottom right, $brand-color, $brand-color-dark);
}


.footer_links {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 48px;
  color: #fff;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}


.footer_badges
{
  a{
    text-decoration: none;
  }
  text-align: center;
}



/**
 * Code formatting
 */
pre,
code {
  border: 1px solid $grey-color;
  border-radius: 3px;
  //background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #888888 } /* Comment */
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #008800; font-weight: bold } /* Keyword */
.highlight .o { color: #333333 } /* Operator */
.highlight .ch { color: #888888 } /* Comment.Hashbang */
.highlight .cm { color: #888888 } /* Comment.Multiline */
.highlight .cp { color: #557799 } /* Comment.Preproc */
.highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.highlight .c1 { color: #888888 } /* Comment.Single */
.highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.highlight .s { background-color: #fff0f0 } /* Literal.String */
.highlight .na { color: #0000CC } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.highlight .nl { color: #997700; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #007700 } /* Name.Tag */
.highlight .nv { color: #996633 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.highlight .sc { color: #0044DD } /* Literal.String.Char */
.highlight .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.highlight .sd { color: #DD4422 } /* Literal.String.Doc */
.highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.highlight .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
.highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #336699 } /* Name.Variable.Class */
.highlight .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.highlight .vi { color: #3333BB } /* Name.Variable.Instance */
.highlight .vm { color: #996633 } /* Name.Variable.Magic */
.highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;  
}

blockquote:before {
  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}