--- 
--- 

// Variables
$font-family: "Helvetica Neue";
$font-text: "Helvetica Neue";
$base-font-size: 12;
$grey-color: #f7f7f7;
$base-font-family: $font-family;
$base-font-size : 16px;
$base-font-weight: 300;
$small-font-size : $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit : 30px;
$text-color : #111;
$background-color: #fdfdfd;
$brand-color : #ED9C34;;
$grey-color : #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark : darken($grey-color, 25%);
// Width of the content area
$content-width : 800px;
$tablet : 700px;




//HEADER STUFF

.header {
  background-color: $brand-color;
  background-image: -webkit-gradient(linear, left top, right bottom, from($brand-color), to(#E83B0C));
  background-image: -webkit-linear-gradient(top left, $brand-color, #E96F23);
  background-image: linear-gradient(to bottom right, $brand-color, #E83B0C);
}

.header_content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 10px;
  color: #fff;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h1{
    font-size: 80px;
    margin-bottom: 10px;
  }
}
.header_subheading{

  display: block;
  font-size: 22px;
  margin: 10px 0 0px;
  font-weight: 200;
}

.header_bio{
  margin: 10px 0 10px;

}

hr.small {
  margin: 15px auto;
  border-color: white;
}


.header_badges
{
  a{
    text-decoration: none;
  }

}


.header_title
{
  color: #ffffff;
  a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    &:hover {
      color: $brand-color;
    }
  }

}



.nav {
  padding-top: 50px;
  padding-bottom: 10px;
  
  text-align: center;
  
   a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; 
    padding: 24px 30px;
    font-size: 25px;
    &:hover {
      color: #FFFFFF;
    }
  }

}


//POSTS

.post_header{
    //Contains the Post Title and Post Meta

}

.post-title {
  font-size: 24px;
  font-weight: bold;
  text-align: left;

  a {
    text-decoration: none;
  }


  color: #384455;
  a {
    color: #384455;
    transition: color 0.3s;
    &:hover {
      color: $brand-color;
    }
  }
}


.post-single {
  margin: 20px 0;
  padding: 25px 0;
    border-bottom: 1px solid #e7e5e5;
  padding-bottom: 20px;

  text-align: center;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}



//post meta is date and stuff
.post-meta {
  text-align: left;
  width: auto;
  margin: 0;
  padding: .25em 0;

}


.section-heading {
  margin-top: 0;
  font-size: 40px;
  padding-right: 15px;
  padding-left: 15px;
}


body {
  background-color: #F2F2F1;
  overflow-x: hidden;
  font-family: $font-family, "Helvetica Neue", Helvetica, Arial, sans-serif;
}





// Post




.main_content {
  max-width: $content-width;
  margin: 0 auto;
  background: white;
  padding: 0 75px 75px 75px;

  //Prevent Images from overrun
  img{
    max-width: 100%;
  }

  //Prevent Images from overrun
  .code{
    max-width: 100%;
  }


}




.footer {
  background-color: $brand-color;
  background-image: -webkit-gradient(linear, left top, right bottom, from($brand-color), to(#E83B0C));
  background-image: -webkit-linear-gradient(top left, $brand-color, #E96F23);
  background-image: linear-gradient(to bottom right, $brand-color, #E83B0C);
}


.footer_links {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 48px;
  color: #fff;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  ;
  }
}


.footer_badges
{
  a{
    text-decoration: none;
  }
  text-align: center;
}
 
  