--- 
--- 

// start content
$font-family: "Helvetica Neue";
$font-text: "Helvetica Neue";
$base-font-size: 12;
$grey-color: #f7f7f7;
// Our variables
$base-font-family: $font-family;
$base-font-size : 16px;
$base-font-weight: 300;
$small-font-size : $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit : 30px;
$text-color : #111;
$background-color: #fdfdfd;
$brand-color : #ED9C34;;
$grey-color : #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark : darken($grey-color, 25%);
// Width of the content area
$content-width : 800px;
$tablet : 700px;


.header {
  background-color: $brand-color;
  background-image: -webkit-gradient(linear, left top, right bottom, from($brand-color), to(#E83B0C));
  background-image: -webkit-linear-gradient(top left, $brand-color, #E96F23);
  background-image: linear-gradient(to bottom right, $brand-color, #E83B0C);
}

.header_content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 10px;
  color: #fff;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h1{
    font-size: 80px;
    margin-bottom: 10px;
  }
}
.header_subheading{

  display: block;
  font-size: 22px;
  margin: 10px 0 0px;
  font-weight: 200;
}

.header_bio{
  margin: 10px 0 10px;

}

hr.small {
  margin: 15px auto;
  border-color: white;
}


/*
 * Header Navigation
 */

.nav {
  padding-top: 50px;
  padding-bottom: 10px;
  
  text-align: center;
  
   a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; 
    padding: 24px 30px;
    font-size: 25px;
    &:hover {
      color: #FFFFFF;
    }
  }

}








.post-single {
  padding: 25px 0;
    border-bottom: 1px solid #e7e5e5;
  padding-bottom: 20px;
  margin: 20px 0;
  text-align: center;
  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.post-title {
  font-weight: 500;
  font-size: 50px;
   a {
    text-decoration: none;
   }

    text-align: center;
    color: #384455;
    a {
      color: #384455;
      transition: color 0.3s;
      &:hover {
        color: $brand-color;
      }
  }
}

.header_badges
{
  a{
text-decoration: none;
  }
 
}
.post-meta {
  width: auto;
  font-weight: 300;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
  font-style: italic;
}


.section-heading {
  margin-top: 0;
  font-size: 40px;
  padding-right: 15px;
  padding-left: 15px;
}



//kinda stolen
.btn-readpost {
  color: #222;
  background-color: #fff;
  border-color: #000000;
  transition: all .35s;
  text-decoration: none;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 30px;
}




body {
  background-color: #F2F2F1;
  overflow-x: hidden;
  font-family: $font-family, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.main_content {
  max-width: $content-width;
  margin: 0 auto;
  background: white;
  padding: 0 75px 75px 75px;
}



.footer {
  background-color: $brand-color;
  background-image: -webkit-gradient(linear, left top, right bottom, from($brand-color), to(#E83B0C));
  background-image: -webkit-linear-gradient(top left, $brand-color, #E96F23);
  background-image: linear-gradient(to bottom right, $brand-color, #E83B0C);
}


.footer_links {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 48px;
  color: #fff;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    ;
  }
}

