_site
.sass-cache
.jekyll-metadata
.idea
.idea/
.idea/workspace.xml
assets/img/berline hotel.jpg
_posts/2017-06-08-OMSAlertingWebhookorRunboook.md
_posts/2017-04-14-AzureFunctionsOMS.md
_posts/2017-04-14-AzureFunctionsOMS.md