<footer class="footer">


  <div class="footer_links">
      &copy; {{ site.time | date: '%Y' }} - Lee Berg
    <ul>
      <li>
        <a href="//twitter.com/leealanberg" target="_blank">
            Lee Berg on Twitter
          </a>
      </li>
      <li>
        <a href="//github.com/leeberg" target="_blank">
            Lee Berg on GitHub
          </a>
      </li>
      <li>
        <a href="//youtube.com/leealanberg" target="_blank">
            Lee Berg on YouTube
          </a>
      </li>
      <li>
        <a href="//facebook.com/leealanberg" target="_blank">
            Lee Berg on Facebook
          </a>
      </li>
      <li>
        <a href="/feed.xml" target="_blank">
            RSS feed for Lee Berg
          </a>
      </li>
    </ul>
  </div>

</footer>