<header>
  <div class="header">
    <div class="header_content">
      <h1>Optimizationeering</h1>
      <hr class="small">
      <div class="header_subheading">Lee Berg - Conference Speaker and Dudebro</div>
      <div class="header_bio">I'm a Consultant, Automation Engineer, and all around nerd. Check out my shit yo!</div>
      <div class="header_badges">
        <a href="https://mvp.microsoft.com/en-us/PublicProfile/5001196"> <img src="{{ site.baseurl }}/assets/img/badges/MVP_Logo_Horizontal_Secondary_Blue286_CMYK_300ppi.png" height="42"width="42"></a>
        <a href="http://www.twitter.com/leealanberg"><img src="{{ site.baseurl }}/assets/img/badges/Twitter_Logo_White_On_Blue.png" height="42" width="42"> </a>
        <a href="http://www.youtube.com/leealanberg"><img src="{{ site.baseurl }}/assets/img/badges/youtube.png" height="42" width="42"> </a>
        <a href="http://www.instagram.com/leealanberg"> <img src="{{ site.baseurl }}/assets/img/badges/insta.png" height="42" width="42"> </a>
        <a href="http://www.github.com/leeberg"> <img src="{{ site.baseurl }}/assets/img/badges/Octocat.png" height="42"> </a>
      </div>


      <nav class="nav">
        <a href="{{ site.baseurl }}/">Posts</a>
        <a href="{{ site.baseurl }}/about">About</a>
        <a href="{{ site.baseurl }}/speaking">Speaking</a>
      </nav>

    </div>
  </div>

</header>