<script src="https://use.fontawesome.com/4c55621d49.js"></script>
<header>
  <div class="header">
    <div class="header_content">
      
    
      <div class="header_title">
        <h1><a href="{{ site.baseurl }}/">Optimizationeering</a></h1>
      </div>
      
      <hr class="small">
        
      <div class="header_bio_wrapper">
        <div class="header_potrait">
          <img src="{{ site.baseurl }}/assets/img/headerpotrait_new.png" alt="Lee Berg">
        </div>
        
        <div class="header_bio">
          Lee Berg 
          <div class="header_bio_secondrow">Welcome to my Blog! I'm a Technical Product Manager, Content Producer, and Nerd. Here you will find a variety of topics on Information Security, Automation, and Cloud Datacenter!</div>
         

            
      <div class="header_interaction">
        <div class="header_badges">
          <a href="http://www.twitter.com/leealanberg" target="_blank" ><img src="{{ site.baseurl }}/assets/img/badges/Twitter_Logo_White_On_Blue.png" height="42" width="42" alt="follow me on twitter!" ></a>
          <a href="http://www.github.com/leeberg" target="_blank" > <img src="{{ site.baseurl }}/assets/img/badges/Octocat.png" height="42"> </a>
          <a href="http://www.youtube.com/leealanberg" target="_blank" ><img src="{{ site.baseurl }}/assets/img/badges/youtube.png" height="42" width="42"> </a>
          <a href="https://www.twitch.tv/bergotronic" target="_blank" ><img src="{{ site.baseurl }}/assets/img/badges/Glitch_White_RGB_Small.png" height="42" width="42"> </a>
          <a href="https://www.linkedin.com/in/leeberg" target="_blank" ><img src="{{ site.baseurl }}/assets/img/badges/LinkedIn_logo_initials.png" height="42" width="42"> </a>
          <a href="http://leealanberg.com/feed.xml" target="_blank" > <img src="{{ site.baseurl }}/assets/img/badges/rss.png" height="42"width="42"></a>
          <a href="{{ site.baseurl }}/search/" target="_blank" ><img src="{{ site.baseurl }}/assets/img/badges/ic_search_white_48dp_2x.png" height="42"> </a>
        </div>
      
      </div>

  
        </div>

      </div> 



    </div>
  </div>




</header>


