<!--
    <div class="hot_news">
    <div class="post-title-hotnews">📢📢📢          HOT NEWS - LIVE POST!            📢📢📢
    <div class="hotnews-meta">{{ site.time | date: "%b %-d, %Y" }} </div>
    </div>        
    <hr class="post">
    <div class="hotnews-post">
        <p>
                
                <p> I am at the <a href="https://mmsmoa.com/">Midwest Management Summit</a> (MMS) right now! I am presenting and producing content onsite this year. If you are at the conference, <a href="https://mms2017.sched.com/speaker/LeeBerg">  come check out my sessions!</a>  </p>

        </p>
    </div>  
</div>
-->