---
layout: default
comments: true
# other options
---

<article class="posts">

  <header class="post-header">
    <br> <!-- Crappy Need to Fix -->
    <div class="post-title">
       {{ page.title }}
    </div>

    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>

      {% for tag in page.tags %}
      -
      {{tag}}
      {% endfor %}

  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    {% include disqus_comments.html %}

</article>


